<html style="display: table;margin: auto;">
<body style="display: table-cell;vertical-align: middle;">

<img id="thememe" src="/memes/{{ imghash }}.jpg" height="788px" width="788px">

<form action="#" >
    <br>
        <input id="text" type="text" name="text" value="" onkeypress="keypress(event)" />
        <button type="button" onclick="return submitform();">Meme it!</button>
    </br>
</form>

<script type="text/javascript">

function keypress(event)
{
    if(event.keyCode === 13){
        event.preventDefault();
        submitform();
    }

    return false;
}

function submitform()
{
    var text = document.getElementById('text').value;
    var req = new XMLHttpRequest();
    req.open("POST", "/post", true);
    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    req.onreadystatechange = function () {
        if (req.readyState != 4 || req.status != 200) {
            console.log("fail");
            return;
        }

        document.getElementById("thememe").src= "/memes/" + req.responseText + ".jpg";
        window.history.pushState(null, null, "/v/" + req.responseText);
    };
    req.send("text="+text);

    return false;
}
</script>

</body>
</html>